################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DoAn_CSharp/FileContentIndex/a582d601-3597-4ce0-be9f-edb8fccba245.vsidx
